---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro"
const allPosts = await Astro.glob('./posts/*.md');

const pageTitle = "BlogHub";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>Blogs by Me</h1>
  <h2>... and my little dog, too!</h2>

  <p>This is where I will post about my journey learning Astro.</p>

  <ul>
    <!-- <li><a href="/posts/post-1/">Post 1</a></li>
    <li><a href="/posts/post-2/">Post 2</a></li>
    <li><a href="/posts/post-3/">Post 3</a></li> -->
    <!-- {allPosts.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)} -->
    {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}

  </ul>

</BaseLayout>
